body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
}

#txtmenssagem {
    height: 200px;
    resize: none;
}

.pizza {
    height: 177px;
    width: 179px;
}

p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: ellipsis;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media screen and (max-width: 469px) {
    .mt-xs-3 {
        margin-top: 1rem;
    }
}

.flex-even {
    flex: 1;
    min-width: 300px;
}

#add:checked + label a {
    transition: color 0.2s ease;
    color: white !important;
}
#add + label a {
    transition: color 0.2s ease;
    color: var(--bs-danger) !important;
}
